:root {
  --__sl-font: Inter, system-ui, sans-serif !important;

  /* Rounded border variables */
  --border-radius-img: 7px;
  --border-radius-code: 5px;
  --border-radius-card: 25px;
}

/* Smaller markdown headings */
.sl-markdown-content h1 {
  font-size: 180%;
}

.sl-markdown-content h2 {
  font-size: 140%;
}

.sl-markdown-content h3 {
  font-size: 120%;
}

.sl-markdown-content h4 {
  font-size: 110%;
}

.sl-markdown-content h5 {
  font-size: 100%;
}

.sl-markdown-content h6 {
  font-size: 95%;
}

img {
  border-radius: var(--border-radius-img);
}

code {
  border-radius: var(--border-radius-code);
}

.card {
  background-color: #24273A !important; /* subtle Catppuccin dark */
  border-radius: var(--border-radius-card);
}
